<html lang='ko'>
    <head>
        <meta charset='utf-8'>
        <title>염기 서열 카운팅</title>
    </head>
    <body>
        염기 서열 카운팅-->
        <form action='/length' method="post">
            <input type="text" name="l_id">
            <input type="submit" value="Overall count?">
        </form>
    </body>
        <body>
        parts 인식-->
        <form action='/length' method="post">
            <input type="text" name="p_id">
            <input type="submit" value="Input">
        </form>
    </body>
</html>