<html lang='ko'>
    <head>
        <meta charset='utf-8'>
        <title>포도</title>
    </head>
    <body>
        포도는 귀여워
        
        <form action='/banana_party' method="post">
            <input type="text" name="id">
            <input type="submit" value="가지에게 보낸다">
        </form>
        
    
            
        <textarea>
포도는 영어로 --> 
            
                grape
        </textarea>
            
            
            
        <input type='button' value='포도가 되는 버튼'>
        
        
        <ul>
            포도의 특징
            <li>포동포동
            <li>주렁주렁
            <li>싱글싱글(모쏠)
        </ul>
    </body>
</html>