<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Modeling</title>
    </head>
    <body>
        <div style="text-align:center"> 
        <table width=100%>
            <tr>
                <td width=50%>
            <b>Variables</b> <br> 
            x: the number of mRNA<br>
            y: the number of protein<br><br>
            <b>Parameters</b> <br>
            a: transcription rate <br>
            b: mRNA degradation rate <br>
            c: protein synthesis rate <br>
            d: protein degradation rate <br><br>
                </td>
                <td>
            <b> Model </b><br>
            <img src="http://latex.codecogs.com/png.latex?\dpi{150}\bg_white \frac{dx}{dt} = a - bx"/> <br>
            <img src="http://latex.codecogs.com/png.latex?\dpi{150}\bg_white \frac{dy}{dt} = cx - dy"/> <br><br>
                </td>
            </tr>
            <tr>
                <td colspan=2>
            <form action="http://127.0.0.1:5000/result" method="post">
                
                <b>Control</b><br>
               a <input type="range" data-orientation="vertical" name="a" value={{params[0]}}> <input type="text" value="{{params[0]}}" readonly size=5>  <br>
               b <input type="range" data-orientation="vertical" name="b" value={{params[1]}}> <input type="text" value="{{params[1]}}" readonly size=5>  <br>
               c <input type="range" data-orientation="vertical" name="c" value={{params[2]}}> <input type="text" value="{{params[2]}}" readonly size=5>  <br>
               d <input type="range" data-orientation="vertical" name="d" value={{params[3]}}> <input type="text" value="{{params[3]}}" readonly size=5>  <br><br>
                <input type="submit" value="Run simulation">

            </form>
            <img src={{image_file}}>     
                </td>
            </tr>
            </table>

        </div>
    </body>
</html>